@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  body{
    margin: 0;
    padding: 0;
  }
  /* shared styles  */
  .display-flex{
    display: flex;
  }

  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .dark2{
    color: #424242;
  }

  .dark3{
    color: #727272;
  }
  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 0.9375rem 1.25rem;
    border: none;
    border-radius: 8px;
  }
  /* header styles  */



  /* navbar styles */

  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand{
    font-weight: 700;
    font-size: 2.25rem;
  }
  .nav-links{
    list-style: none;
    gap: 30px;
}
  .nav-links a{
    text-decoration: none;
  }
  .navbar,.banner{
    max-width: 1152px;
    margin: 0 auto;
  }
  
  /* banner section */
  .banner-title-desc{
    text-align: center;
  }
  .title{
    font-size: 3.2rem;
    padding-top: 3rem;
  }
  .desc{
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
  .banner-img{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .nav-links{
        flex-wrap: wrap;
    }
  }